:root {
    --main-accent-color: rgba(0,0,0,0.5);
    --main-bg-color: rgb(255,255,255);
    --confirm-color: rgba(0,118,214,0.8);
    --cancel-color: rgba(255,0,0,0.8);
  }
  /* Simple Reset */
  html {
      box-sizing: border-box;
      font-size: 16px;
      font-family: sans-serif;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
  
  main {
    margin: 1rem;
  }

  main > h1 {
    color: var(--confirm-color)
  }
  
  .dialog-container {
      max-width: 50ch;
      padding: 3em;
      border: 0;
      box-shadow: 0 0 1em rgba(0 0 0 / .3);
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .dialog-container::backdrop {
    background-color: rgba(0 0 0 / .4)
  }
  
  button {
    border: 1px solid var(--main-accent-color);
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--main-bg-color);
    color: var(--main-accent-color);
    margin: 1em;
  }

  /* issue with escaping causing outline blue to show */
  button:focus-visible {
    outline: none;
  }
  
  button.open:hover {
    border: 1px solid var(--confirm-color);
    color: var(--confirm-color);
  }
  
  button.confirm:hover {
    border: 1px solid var(--confirm-color);
    color: var(--confirm-color);
  }
  
  button.cancel:hover {
    border: 1px solid var(--cancel-color);
    color: var(--cancel-color);
  }
  
  .dialog-message {
      font-size: 18px;
      margin: 1em;
  }
  
  .dialog-display-message {
      color: black;
      position: relative;
      font-weight: 500;
  }